<span>
  <div class="PsaHeader">
    <div class="butao">
      <a href="pagina_inicial.html" class="voltar">
        <h3>Voltar</h3>
      </a>
    </div>

    <div class="Textus_cell">
      <h1 class="Bev_cell">Bem-vindo(a)!</h1>

      <h3 class="Beve">ainda não tem uma conta? cadastre-se!</h3>
    </div>
  </div>

  <div class="Booty">
    <div class="PsaForm">
      <span>
        <h1 class="Bev_pc">Bem-vindo(a)!</h1>
        <div class="hihiha2"></div>
        <div class="BrigaCasal">
          <a routerLink="/signup" class="Cadastro">
            <p>Cadastro</p>
          </a>
          <a href="/login" class="Login">
            <p>Login</p>
          </a>
        </div>
        <div class="hihiha"></div>
      </span>
      <span>
        <form>

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><img src="/src/assets/icon/person.svg" alt=""></span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
              aria-describedby="basic-addon1">
          </div>


          <br />

          <div class="input-group mb-3">

            <span class="input-group-text" id="basic-addon1"><input type="checkbox" onclick="myFunction()">



            </span>

            <input type="password" id="myInput" class="form-control" placeholder="Senha" aria-label="Username"
              aria-describedby="basic-addon1" required />

          </div>

          <a href="" class="link_pass">
            <p class="forgo">Esqueceu a senha?</p>
          </a>

          <a href="pag.html"></a>

          <input type="submit" class="Buttom" value="Entrar">

          <a href="paginaCadastro.html" class="link_cad_pc">
            <p class="cad">Ou cadastre-se</p>
          </a>

        </form>

      </span>
      <script src="login.js"></script>
