/* demo purposes */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  font-family: "Press Start 2P", monospace;
}

body {
  background-image: url(../../../assets/backgroundlevelup.png);
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  height: 100vh;
  margin: 0;
  background: #aaaccc;
}

.fluid {
  width: 100%;
  box-sizing: border-box;
}
.container {
  text-align: center;
}
img {
  width: 70%;
  text-align: center;
  padding: 30px;
}

a {
  text-decoration: none;
  color: black;
}

button {
  width: 35%;
  display: inline-block;
  background-color: #f1d12e;
  color: #000;
  border: none;
  font-size: 0.8rem;
  margin: 5px;
  padding: 15px 20px;

  box-shadow: inset 0 5px 0px rgba(255, 255, 255, 0.2),
    inset 5px 0px 0px rgba(255, 255, 255, 0.1),
    inset 0 -5px 0px rgba(0, 0, 0, 0.2), inset -5px 0px 0px rgba(0, 0, 0, 0.1),
    5px 0px 0px #000, -5px 0px 0px #000, 0px 5px 0px #000, 0px -5px 0px #000;
}

button:hover {
  box-shadow: inset 0 5px 0px rgba(255, 255, 255, 0.4),
    inset 5px 0px 0px rgba(255, 255, 255, 0.3),
    inset 0 -5px 0px rgba(0, 0, 0, 0.3), inset -5px 0px 0px rgba(0, 0, 0, 0.2),
    5px 0px 0px #000, -5px 0px 0px #000, 0px 5px 0px #000, 0px -5px 0px #000;
}

button:active {
  text-shadow: 1px 1px #000;
  box-shadow: inset 0 -5px 0px rgba(255, 255, 255, 0.4),
    inset -5px 0px 0px rgba(255, 255, 255, 0.3),
    inset 0 5px 0px rgba(0, 0, 0, 0.3), inset 5px 0px 0px rgba(0, 0, 0, 0.2),
    5px 0px 0px #000, -5px 0px 0px #000, 0px 5px 0px #000, 0px -5px 0px #000;
}
