<div class="card text-center ">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </div>

  <div class="card-body">
    <form (ngSubmit)="submit()" [formGroup]="cadastroForm" #formDir="ngForm" class="row g-3">
      <!-- Nome -->
      <div class="form-group col-12">
        <label for="inputText" class="form-label"></label>
        <input
        type="text"
        class="form-control"
        id="inputText"
        formControlName="nome"
        placeholder="Seu nome">
      </div>
      <div *ngIf="nome.invalid && formDir.submitted" class="validation-error">
        <p class="validacaoErro" *ngIf="nome.errors?.['required']">Por favor, escreva seu nome.</p>
      </div>

      <!-- Usuário -->
      <div class="form-group col-6 col-sm-7">
        <label for="inputUser" class="form-label"></label>
        <input
        type="text"
        class="form-control"
        id="inputUser"
        formControlName="user"
        placeholder="Seu usuário">
      </div>
      <!-- <div *ngIf="user.invalid && formDir.submitted" class="validation-error">
        <p class="validacaoErro" *ngIf="user.errors?.['required']">O usuário é obrigatório.</p>
      </div> -->

      <!-- Classe e button dúvida/explicação -->
      <div class="form-group input-group col-6 col-sm-5">
        <input
        type="text"
        class="form-control"
        placeholder="Classe"
        aria-label="Classe"
        formControlName="classe"
        aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"><img
            src="../../../assets/icon/question-circle.svg" alt=""></button>
      </div>
      <!-- <div *ngIf="classe.invalid && formDir.submitted" class="validation-error">
        <p class="validacaoErro" *ngIf="classe.errors?.['required']">Digite sua classe.</p>
      </div> -->

      <!-- Senha e button ver/esconder senha -->
      <div class="input-group col-12">
        <input
        type="text"
        class="form-control"
        placeholder="Sua senha"
        aria-label="Sua senha"
        formControlName="senha"
        aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" id="olho-senha" type="button" id="button-addon2"><img
            src="../../../assets/icon/eye-slash.svg" alt=""></button>
      </div>
      <!-- <div *ngIf="senha.invalid && formDir.submitted" class="validation-error">
        <p class="validacaoErro" *ngIf="senha.errors?.['required']">Digite sua senha.</p>
      </div> -->

      <!-- Idade -->
      <div class="col-4 col-sm-4	">
        <label for="inputIdade" class="form-label"></label>
        <input
        type="text"
        class="form-control"
        id="inputIdade"
        formControlName="idade"
        placeholder="Idade">
      </div>
      <!-- <div *ngIf="idade.invalid && formDir.submitted" class="validation-error">
        <p class="validacaoErro" *ngIf="idade.errors?.['required']">Digite sua idade.</p>
      </div> -->

      <!-- Formação -->
      <div class="col-8 col-sm-8">
        <label for="inputFormacao" class="form-label"></label>
        <input
        type="text"
        class="form-control"
        id="inputFormacao"
        formControlName="formacao"
        placeholder="Formação">
      </div>
      <!-- <div *ngIf="formacao.invalid && formDir.submitted" class="validation-error">
        <p class="validacaoErro" *ngIf="formacao.errors?.['required']">Digite sua idade.</p>
      </div> -->


      <div class="btnCadastro col-12">
        <button type="submit" class="btn btn-primary">CADASTRE-SE</button>
      </div>
    </form>
  </div>
</div>
