.validacaoErro {
  font-size: 14px;
  top: -10%;
}

.validation-error {
  color: red;
}

.text-center {
  width: 90%;
  border-radius: 10px;

  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a {
  text-decoration: none;
  color: #24242472;
}

input {
  font-size: 0.8rem;
  background-color: #83ceec53;
  box-shadow: none;
  border: none;
}

.input-group {
  margin-top: 20px;
}

.btn:not(:disabled):not(.disabled) {
  background-color: #83ceec53;
  border: none;
}

.card-header {
  background-color: white;
  width: 100%;
}

.card-body {
  border-top: 1px solid #5b5b5b;
}

.nav {
  justify-content: center;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  font-weight: bolder;
  border: none;
  border-bottom: 5px solid #52c319;
  border-radius: 2px;
}

.btnCadastro {
  bottom: -2vh;
}

.btn-primary {
  box-shadow: 0px 4px 2px 0px rgb(0 0 0 / 28%);
  border: none;
  margin: 32px 14px;
  width: 70%;
  background: rgb(110, 192, 53);
  background: linear-gradient(
    265deg,
    rgba(110, 192, 53, 1) 0%,
    rgba(59, 182, 154, 1) 85%,
    rgba(34, 192, 255, 1) 100%
  );
}

.link-login {
  visibility: hidden;
}

@media screen and (min-width: 500px) {
  .text-center {
    margin: 3vw 0vh;
    width: 75%;
  }
}

@media screen and (min-width: 700px) {
  .card-header {
    display: none;
  }

  .card-header:after {
    visibility: visible;
    content: "Bem-vindo(a) !";
  }

  .card-body {
    border-top: 1px solid #05bdfb;
  }

  .text-center {
    width: 450px;
    height: 490px;
    margin: 0 auto;
  }

  .link-login {
    visibility: visible;
  }

  .link-login a {
    font-weight: bolder;
  }

  .link-login a:hover {
    transition: 0.3s;
    color: #52c319;
  }
}
