<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Cadastro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <form class="row g-3">
      <div class="col-12">
        <label for="inputText" class="form-label"></label>
        <input type="text" class="form-control" id="inputText" placeholder="Seu nome">
      </div>
      <div class="col-8 col-sm-7">
        <label for="inputUser" class="form-label"></label>
        <input type="text" class="form-control" id="inputUser" placeholder="Seu usuário">
      </div>
      <div class="col-4 col-sm-5">
        <label for="inputClasse" class="form-label"></label>
        <input type="text" class="form-control" id="inputClasse" placeholder="Classe">
      </div>
      <div class="col-12">
        <label for="inputPassword4" class="form-label"></label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Senha">
      </div>
      <div class="col-4 col-sm-4	">
        <label for="inputIdade" class="form-label"></label>
        <input type="text" class="form-control" id="inputIdade" placeholder="Idade">
      </div>
      <div class="col-8 col-sm-8">
        <label for="inputFormacao" class="form-label"></label>
        <input type="text" class="form-control" id="inputFormacao" placeholder="Formação">
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">CADASTRE-SE</button>
      </div>
    </form>
    <p>Já possui cadastro? <a>Faça o Login</a></p>
  </div>
</div>
